<?php
return array(
    
    'data_connectors' => array(
        'perun' => array(
            'class' => '\ShongoAuthn\User\DataConnector\PerunFake',
            'options' => array(
                'adapter' => array(
                    'driver' => 'Pdo_Mysql',
                    // 'driver' => 'Mysqli',
                    'host' => 'localhost',
                    'dbname' => 'shongo',
                    'username' => 'admin',
                    'password' => 'passwd'
                )
            )
        )
    ),
    
    'user_validators' => array(
        'perun_user' => array(
            'class' => 'ShongoAuthn\User\Validator\PerunUser',
            'options' => array(
                'registration_uri' => 'https://perun.example.org/perun-registrar-fed/'
            )
        )
    ),
);