<?php
return array(
    
    'data_connectors' => array(

        'perun-ws' => array(
            'class' => 'ShongoAuthn\User\DataConnector\PerunWs',
            'options' => array(
                'base_url' => 'https://perun-ws.example.org/',
                'client_id' => 'client_id',
                'client_secret' => 'client_secret',
                'users_handler' => 'users/',
                'http_client_config' => array(
                    'adapter' => 'Zend\Http\Client\Adapter\Curl',
                    'useragent' => 'Perun Client',
                    'curloptions' => array(
                        CURLOPT_SSL_VERIFYPEER => true,
                        CURLOPT_SSL_VERIFYHOST => 2,
                        CURLOPT_CAINFO => '/etc/ssl/certs/ca-bundle.pem'
                    )
                )
            )
        )
        
    ),
    
    'user_validators' => array(
        'perun_user' => array(
            'class' => 'ShongoAuthn\User\Validator\PerunUser',
            'options' => array(
                'registration_uri' => 'https://perun.example.org/perun-registrar-fed/'
            )
        )
    ),
);